@page "/transactions"
@using Microsoft.AspNetCore.Identity
@using PiikkiTracker.Utility
@inject UserManager<ApplicationUser> UserManager
@inject ITransactionRepository _transactionRepository
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime _js

<PageTitle>Transactions</PageTitle>
<PiikkiTracker.Components.Shared.BsDeleteModal OnModalConfirmation="ConfirmDelete_Click"></PiikkiTracker.Components.Shared.BsDeleteModal>

@if(IsLoading)
{
    <p>Loading...</p>
}
else 
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Transactions Log</h2>
                </div>
            </div>
        </div>

        <AuthorizeView Context="authContext">
            <Authorized>

                <div class="card-body p-4">

                    @if (transactions.Any())
                    {
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>CreatedDate</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tr in transactions)
                                {
                                    <tr>
                                        <td>@tr.User.FirstName @tr.User.LastName</td>
                                        <td>@tr.Amount</td>
                                        <td>@tr.TransactionType</td>
                                        <td>@tr.CreatedDate</td>
                                        <td>
                                            <AuthorizeView Roles="@SD.Role_Admin">
                                                <a class="btn btn-sm btn-primary" href="@($"transactions/update/{tr.Id}")">Edit</a>
                                                <button type="button" class="btn btn-sm btn-danger" @onclick="() => HandleDelete(tr.Id)">
                                                    <i class="bi bi-trash"></i> Delete
                                                </button>
                                            </AuthorizeView>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No Transactions found</p>
                    }
                </div>
            </Authorized>

            <NotAuthorized>
                <p><em>Not authorized</em></p>
            </NotAuthorized>

        </AuthorizeView>

    </div>

}

@code {

    public bool IsLoading { get; set; } = true;
    private int TransactionId { get; set; } = 0;
    public IEnumerable<Transaction> transactions = new List<Transaction>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTransactions();
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadTransactions()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState?.User;

        if (user != null && user.Identity.IsAuthenticated)
        {
            var identityUser = await UserManager.GetUserAsync(user);
            transactions = await _transactionRepository.GetAllTransactionsByUserId(identityUser.Id);
        }
    }

    
    private void HandleDelete(int id)
    {
        TransactionId = id;
        // Show the modal
        _js.InvokeVoidAsync("ShowDeletionModal");
    }


    private async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;

        if (isConfirmed && TransactionId != 0)
        {
            var result = await _transactionRepository.DeleteTransactionAsync(TransactionId);
            if (result)
            {
                _js?.ToastrSuccess("Transaction Deleted Successfully");
            }
            else
            {
                _js?.ToastrError("There was an error while deleting");
            }

            _js?.InvokeVoidAsync("HideDeletionModal");
            await LoadTransactions();

        }

        TransactionId = 0;
        IsLoading = false;
    }
}
